@import '_color';
@import './slicknav.css';
@import './animate.css';
//All responsive media queries are at bottom of file

body {
  font-size: 16px;
  margin: 0;
  min-width: 335px;

  a {
    text-decoration: none;
  }
}

//Scrollbar custom styles

body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: $blue;
outline: 1px solid $light-grey;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
}

//Return to top button

#rtt-btn {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  opacity: 0;
  border-radius: 50%;
  background: $blue;
  box-shadow: 0px 0px 5px rgba(255,255,255,.8);
  transition: all 1s;
  cursor: pointer;
  z-index: 1000;

  i {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 32px;
    color: white;
  }
}

.rtt-btn__visible {
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 1s;
}



//Main layout will container 6 rows with varying number of columns and rows within them.

.section-header {
  //Font Futura Lt BT Light
  text-transform: uppercase;
  margin: 1rem auto 1rem auto;
  text-align: center;

  span {
    display: inline-block;
    position: relative;
    font-family: Questrial;
    font-weight: 200;
  }

  span:before,
  span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: .5px solid white;
    top: 7px;
    width: 600px;
  }

  span:before {
    right: 100%;
    margin-right: 15px;
  }
  span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.header {
  width: 100%;
  background-color: $dark-grey;
}

.header-inner {
  background-color: $dark-grey;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 5;
  max-width: 1000px;
  height: 92px;
  margin: 0 auto 0 auto;
}

.navbar-fixed {
  display: block !important;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  opacity: .95;
  height: 0;
  animation: rollOut .5s ease-in-out forwards;
}
.navbar-fixed-inner {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  overflow: hidden;
  width: 100%;
  opacity: .95;
  height: 0;
  animation: rollOut .5s ease-in-out forwards;
}

@keyframes rollOut {
  from {
    height: 0px;
  }

  to {
    height: 75px;
  }
}

.nav-menu {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1.5rem;
  color: $blue;
  font-family: Questrial;
  font-size: 1.5rem;
  font-weight: 400;
  
  li {
    margin-left: 1rem;
    cursor: pointer;
  }

  li a {
    color: $blue;
    cursor: pointer;
  }

  li a:hover {
    color: white !important;
  }
}

.nav-link-active {
  color: white !important;
}

.nav-mobile-icon {
  height: 50%;
  margin: auto 15px auto auto;
  display: none;
  cursor: pointer;
}

.sticky-nav-mobile-icon {
  height: 50%;
  margin: auto 15px auto auto;
  display: none;
  cursor: pointer;
}

.sticky-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  font-family: Alegreya;
  color: $blue;
  margin: auto auto auto 1rem;
}

@media only screen and (max-width: 800px) {
  .nav-menu {
    display: none;
  }

  .nav-mobile-icon {
    display: block;
  }
  
  .sticky-nav-mobile-icon {
    display: block;
  }
}

.social-icons {
  display: flex;
  flex-wrap: nowrap;
  margin: auto auto auto 25px;
  font-size: 2rem;

  i {
    color: $blue;
    padding: 0 .5rem 0 .5rem;
    cursor: pointer;
    position: relative;
  }

  // i:hover {
  //   color: $light-grey;
  //   padding: 0 .5rem 0 .5rem;
  // }

  .fa-bitbucket:after {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Brands";
    content: "\f171";
    font-size: 32px;
    background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
    background-position: -45px 0px; 
    -webkit-background-clip: text;
  }

  .fa-bitbucket:hover:after {
    background-position: 35px 0px; 
    background-size: 150%;
    -webkit-background-clip: text;
    transition: background-position 1.5s ease-out;
  }

  .fa-medium:after {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Brands";
    content: "\f23a";
    font-size: 32px;
    background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
    background-position: -45px 0px; 
    -webkit-background-clip: text;
  }

  .fa-medium:hover:after {
    background-position: 35px 0px; 
    background-size: 150%;
    -webkit-background-clip: text;
    transition: background-position 1.5s ease-out;
  }

  .fa-twitter:after {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Brands";
    content: "\f099";
    font-size: 32px;
    background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
    background-position: -45px 0px; 
    -webkit-background-clip: text;
  }

  .fa-twitter:hover:after {
    background-position: 35px 0px; 
    background-size: 150%;
    -webkit-background-clip: text;
    transition: background-position 1.5s ease-out;
  }

  .fa-codepen:after {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Brands";
    content: "\f1cb";
    font-size: 32px;
    background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
    background-position: -45px 0px; 
    -webkit-background-clip: text;
  }

  .fa-codepen:hover:after {
    background-position: 35px 0px; 
    background-size: 150%;
    -webkit-background-clip: text;
    transition: background-position 1.5s ease-out;
  }

  .fa-github:after {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Brands";
    content: "\f09b";
    font-size: 32px;
    background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
    background-position: -45px 0px; 
    -webkit-background-clip: text;
  }

  .fa-github:hover:after {
    background-position: 35px 0px; 
    background-size: 150%;
    -webkit-background-clip: text;
    transition: background-position 1.5s ease-out;
  }
}

li {
  display: inline-block;
}

.title-section {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url('../media/code-pg-comp.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}

.title-section-inner {
  background: transparent;
  z-index: 4;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  text-align: center;

  img {
    margin-top: 1rem;
    width: 200px;
    height: 200px;
  }

  .title {
    text-transform: uppercase;
      font-size: 3rem;
      font-weight: 400;
      font-family: Alegreya;
      color: $blue;
      margin: 0;
  }
  
  .title .letter {
    display: inline-block;
    line-height: 1em;
  }

    @keyframes opacity-up {
      0% {opacity: 0}
      100% {opacity: 1}
    }
    
    @keyframes opacity-down {
      0% {opacity: 1}
      100% {opacity: 0}
    }
  
    @keyframes stretch-to-normal {
      from {letter-spacing: .375rem;}
      to {letter-spacing: normal;}
    }

  .subtitle {
    font-family: Questrial;
    font-weight: 100;
    color: $blue;
    padding-bottom: 1rem;
    margin: 0;
    letter-spacing: 3px;
    animation: stretch-in 4s, fade-in 4s;
  }

  @media only screen and (max-width: 400px) {
    .title {
      font-size: 2rem;
    }

    .subtitle {
      font-size: 1rem;
    }
    
    img {
      height: 128px;
      width: 128px;
    }
  }


  @keyframes stretch-in {
    from {letter-spacing: .375rem;}
    to {letter-spacing: .187rem;}
  }
  
  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}

.portfolio-section {
  width: 100%;
  background-color: $blue;
}

.responsive-port-img {
  max-width: 90%;
  height: auto;
  border-radius: 3px;
}

.portfolio-section-inner {
  background-color: $blue;
  color: $light-grey;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  overflow: hidden;
  position: relative;

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: 750px) {
        .card-container {
          flex-wrap: wrap;
        }

        .portfolio-card {
          width: 70%
        }

        .portfolio-card img {
          filter: brightness(100%) !important;
        }
  }
  .portfolio-card {
    background-color: $light-grey;
    border-radius: 3px;
    padding: 10px 0;
    margin: 10px 10px;
    flex: 0 1 auto;
    text-align: center;
    box-shadow: 0px 0px 1px white;
    font-family: Questrial;
    color: $blue;
    max-width: 300px;

    .card-title {
      margin-top: 10px;
      font-size: 2rem;
    }

    img {
      background: radial-gradient($light-grey 5%, $blue);
      filter: brightness(70%);
    }
    
    img:hover {
      filter: brightness(100%);
    }

    @media only screen and (max-width: 800px) {
          .card-title {
            display: none;
          }
          .card-subtitle {
            margin-top: 10px;
          }
    }
    
  }
}

.about-section {
  background: linear-gradient(rgba(225,225,225, .8), rgba(225,225,225, .8)), url('../media/colliseum-comp.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.about-section-inner {
  //Header Font Roboto Slab thin
  //Subheader font Roboto Slab Light
  background: transparent;
  margin: 0 auto 0 auto;
  max-width: 1000px;
  overflow: hidden;

  .section-header {
  
    span:before,
    span:after {
      border-bottom: .5px solid $blue;
    }
  }
  
  .header {
    width: 100%;
    background-color: $dark-grey;
  }

  .about-inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 16px;

    .about-item-1 {
      flex: 0 1 33%;

      @media only screen and (max-width: 500px) {
        img {
          height: 256px;
          width: 256px;
        }
      }
    }

    .about-item-2 {
      flex: 0 2 66%;
      font-family: Roboto Slab;
      font-weight: 100;
      margin: auto auto;
      padding: auto 2rem auto auto;

      .about-heading {
        font-size: 2rem;
        padding-bottom: 2rem;
      }

      .about-subheading {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5rem;
      }
    }

    @media only screen and (max-width: 1000px) {
      .about-item-2 {
        padding-right: 1rem;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .about-inner-container {
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
    }

    .about-item-1 {
      flex: 0 1 auto;
    }

    .about-item-2 {
      flex: 0 1 auto;
      padding-left: 16px;
      padding-right: 16px !important;
    }
  }
}

.skills-section {
  background-color: $blue;
  width: 100%;
  font-family: Questrial;

  .skills-section-inner {
    background-color: $blue;
  color: $light-grey;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  overflow: hidden;

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .skills-container {
      margin: 3em 0;
    }
  }
}

.center {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #333;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-around;
}

.skills-item {
  flex: 0 1 40%;
  min-width: 300px;
}

h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.skillBox {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 5px 0;
}

.skillBox p {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  letter-spacing: 1px;
}

.skillBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  background: $light-grey;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid $light-grey;
  border-radius: 2px;
}

.skill_level {
  background: $blue;
  width: 100%;
  height: 10px;
}

.show-more-skills-btn,
.hide-more-skills-btn {
  text-transform: uppercase;
  text-align: right;
  float: right;
  width: 100%;
  position: relative;
  bottom: -10px;
  cursor: pointer;
}

.show-more-skills-btn {
  animation: pulse 2s infinite;
}

.expanded-skills-item {
  display: none;
}

.expanded-skills-header {
  display:none;
  text-align: center;
  flex: 0 1 100%;
  min-width: 100%;
  text-transform: uppercase;
  padding: 20px 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

.contact-section {
  background: linear-gradient(rgba(225, 225, 225, .8), rgba(225, 225, 225, .8)), url('../media/santa-cruz-comp.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;

  .section-header {
    color: $blue;
  
    span:before,
    span:after {
      border-bottom: .5px solid $blue;
    }
  }
}

.contact-section-inner {
  background: transparent;
  color: $blue;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  overflow: hidden;
  
  .contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    

    .contact-item-1 {
      flex: 0 1 50%;
      text-align: center;
      
      .contact-social-icons {
        display: flex;
        flex-wrap: nowrap;
        margin: auto auto auto auto;
        font-size: 2rem;
        justify-content: center;
  
        i {
          color: $blue;
          padding: 0 .5rem 0 .5rem;
          position: relative;
        }
        
        .fa-bitbucket:after {
          z-index: 5;
          position: absolute;
          top: 50%;
          left: 50%;
          color: transparent;
          transform: translate(-50%, -50%);
          font-family: "Font Awesome 5 Brands";
          content: "\f171";
          font-size: 32px;
          background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
          background-position: -45px 0px; 
          -webkit-background-clip: text;
        }
      
        .fa-bitbucket:hover:after {
          background-position: 35px 0px; 
          background-size: 150%;
          -webkit-background-clip: text;
          transition: background-position 1.5s ease-out;
        }
      
        .fa-medium:after {
          z-index: 5;
          position: absolute;
          top: 50%;
          left: 50%;
          color: transparent;
          transform: translate(-50%, -50%);
          font-family: "Font Awesome 5 Brands";
          content: "\f23a";
          font-size: 32px;
          background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
          background-position: -45px 0px; 
          -webkit-background-clip: text;
        }
      
        .fa-medium:hover:after {
          background-position: 35px 0px; 
          background-size: 150%;
          -webkit-background-clip: text;
          transition: background-position 1.5s ease-out;
        }
      
        .fa-twitter:after {
          z-index: 5;
          position: absolute;
          top: 50%;
          left: 50%;
          color: transparent;
          transform: translate(-50%, -50%);
          font-family: "Font Awesome 5 Brands";
          content: "\f099";
          font-size: 32px;
          background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
          background-position: -45px 0px; 
          -webkit-background-clip: text;
        }
      
        .fa-twitter:hover:after {
          background-position: 35px 0px; 
          background-size: 150%;
          -webkit-background-clip: text;
          transition: background-position 1.5s ease-out;
        }
      
        .fa-codepen:after {
          z-index: 5;
          position: absolute;
          top: 50%;
          left: 50%;
          color: transparent;
          transform: translate(-50%, -50%);
          font-family: "Font Awesome 5 Brands";
          content: "\f1cb";
          font-size: 32px;
          background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
          background-position: -45px 0px; 
          -webkit-background-clip: text;
        }
      
        .fa-codepen:hover:after {
          background-position: 35px 0px; 
          background-size: 150%;
          -webkit-background-clip: text;
          transition: background-position 1.5s ease-out;
        }
      
        .fa-github:after {
          z-index: 5;
          position: absolute;
          top: 50%;
          left: 50%;
          color: transparent;
          transform: translate(-50%, -50%);
          font-family: "Font Awesome 5 Brands";
          content: "\f09b";
          font-size: 32px;
          background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 95%,rgba(255,255,255,0) 100%) no-repeat;
          background-position: -45px 0px; 
          -webkit-background-clip: text;
        }
      
        .fa-github:hover:after {
          background-position: 35px 0px; 
          background-size: 150%;
          -webkit-background-clip: text;
          transition: background-position 1.5s ease-out;
        }
      }
    }
  
    .contact-item-2 {
      flex: 0 1 50%;
      padding-right: 20px;
      text-align: right;
      color: $light-grey;

      .name {
        color: $light-grey;
        width: 100%;
        padding: 0;
        margin: 0 0 1rem 0;
        background-color: $blue;
        border: 5px solid $blue;
        border-radius: 5px;
        font-family: Questrial;
        height: 30px;
      }

      .name::placeholder {
        color: $light-grey;
      }

      .email {
        color: $light-grey;
        width: 100%;
        padding: 0;
        margin: 0 0 1rem 0;
        background-color: $blue;
        border: 5px solid $blue;
        border-radius: 5px;
        font-family: Questrial;
        height: 30px;
      }

      .email::placeholder {
        color: $light-grey;
      }

      .message {
        color: $light-grey;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: $blue;
        border: 5px solid $blue;
        border-radius: 5px;
        font-family: Questrial;
        resize: none;
      }

      .message::placeholder {
        color: $light-grey;
      }

      .send-btn {
        color: $light-grey;
        width: 100px;
        background-color: $blue;
        border: 5px solid $blue;
        border-radius: 5px;
        font-family: Questrial;
        margin: 0 -8px 0 auto;
        cursor: pointer;
      }
    }
  }

  @media only screen and (max-width: 750px) {
    .contact-container {
      display: block;
      width: 80%;
      text-align: center;
      margin: auto auto 16px auto;
    }

    .contact-item-1 {
      display: none;
    }

    .contact-item-2 {
      width: 100%;
    }
  }

}

.footer {
  background-color: $blue;
  width: 100%;
}

.footer-inner {
  background-color: $blue;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 0 auto 0 auto; 

  .nav-menu {
    margin: auto;
    color: $light-grey;
    
    ul {
      padding: 0;
    }

    li a {
      color: $light-grey;
    }
    
    li a:hover {
      color: $dark-grey;
    }
  }
  
  .copyright {
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 100;
    color: $light-grey;
    margin: auto auto auto 0;
  }

  .twitter-cta {
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 100;
    margin: auto 0 auto auto;
    cursor: pointer;

    a {
      color: $light-grey;
    }

    a:hover {
      font-weight: 400;
    }
  }
  @media only screen and (max-width: 1000px) {
    .copyright,
    .twitter-cta {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    
    .copyright {
      margin-left: 1rem;
    }

    .twitter-cta {
      margin-right: 1rem;
    }
  }
}

